{% extends 'main_app/base.html' %}

{% block content %}
    <section>
      <div class="product">
        <div class="description">
          <h3>{{ object.name }}</h3>
          <h4>{{ object.description }}</h4>
          <h5>{{ object.price }} руб.</h5>
        </div>
      </div>
      <form action="/buy/{{ object.pk }}/" method="GET">
        <button type="submit" id="checkout-button">buy</button>
      </form>
    </section>
    <a href="{% url 'main_app:items' %}">На главную</a>
{% endblock %}
